.body {
  padding: 50px;
}
.header {
  font-family: 'Abril Fatface';
  background-image: url('../images/backgrounds/h_img.jpg');
  height: 500px;
  width: 1200px;
  color: white;
  padding: 150px;
}
.services {
  background-image: url('../images/backgrounds/s_image.jpg');
  height: 300px;
  width: 1200px;
  padding-top: 70px;
}
.contact {
  background-image: url('../images/backgrounds/c_image.jpg');
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}
.gallery {
  margin: 5px;
  border: 1px solid black;
  float: left;
  width: 250px;
  height: 250px;
}
#des,#dev,#product{
  font-family: Secular One;
  text-align: center;
}
#d-selector,#dev-selector,#p-selector{
  margin: 5px;
}
.div{
  margin-top: 40px;
}
